@tailwind base;
@tailwind components;
@tailwind utilities;

.grid {
    gap: 1rem;
}

.carpetas-contenedor {
    margin-top: 1rem; /* Espaciado entre el título y las carpetas */
}

.botones-contenedor {
    margin-left: 1rem; /* Ajusta este valor según sea necesario */
}

/* Margen para separar la sección de carpetas/archivos del lado izquierdo */
.contenido-contenedor {
    margin-left: 2rem; /* Ajusta según tus preferencias */
}


#compartirModal {
    color: #2d3748; /* Gris oscuro para asegurar visibilidad */
}

#compartirModal h2 {
    color: #3182ce; /* Azul para encabezados */
}

#compartirModal select {
    color: #2d3748; /* Asegura visibilidad del texto en el dropdown */
}

.carpetas-contenedor .carpeta {
    position: relative;
    padding-right: 40px; /* Añadido para espacio del icono */
}
.carpetas-contenedor .acciones {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* Asegurando visibilidad correcta del botón de eliminar */
.confirmar-eliminar {
    background-color: #dc2626; /* Rojo */
    color: white;
}
.confirmar-eliminar:hover {
    background-color: #b91c1c; /* Rojo más oscuro */
}