{% extends "base.html" %}

{% block content %}
<div class="min-h-screen py-10 px-4 flex flex-col bg-animated-gradient">
    <!-- Sidebar con Anuncios -->
    <div class="col-span-3 flex justify-between items-center mb-6">
        <h2 class="text-3xl font-bold text-white">Anuncios</h2>
        {% if user.is_staff %}
        <button id="openModal"
            class="bg-gradient-to-r from-green-500 to-green-700 text-white font-bold py-2 px-6 rounded-lg shadow-lg hover:from-green-600 hover:to-green-800 hover:shadow-xl transition-all transform hover:scale-105">
            Crear Anuncio
        </button>
        {% endif %}
    </div>
    <div
        class="grid grid-cols-1 md:grid-cols-3 gap-6 bg-gradient-blue p-6 rounded-lg shadow-2xl h-[800px] overflow-hidden">
        <div
            class="sidebar col-span-1 p-6 bg-white bg-opacity-80 shadow-md border-r-2 border-blue-500 overflow-y-auto h-full">
            <h2 class="text-2xl font-bold text-pink-800 mb-6">Lista de Anuncios</h2>
            <div class="anuncios-list">
                {% for anuncio in anuncios %}
                <div
                    class="anuncio-item p-4 bg-white border border-gray-300 rounded mb-4 cursor-pointer hover:bg-gray-100 shadow-sm transition relative">
                    <div class="flex justify-between items-center">
                        <div onclick="mostrarAnuncio('{{ anuncio.id }}')" class="cursor-pointer w-full">
                            <h3 class="font-bold text-xl text-blue-600">{{ anuncio.titulo }}</h3>
                            <p class="text-gray-600">{{ anuncio.descripcion|truncatechars:50 }}</p>
                        </div>
                        {% if user.is_staff %}
                        <button onclick="eliminarAnuncioModal('{{ anuncio.id }}')"
                            class="delete-icon bg-transparent hover:bg-red-500 text-red-500 hover:text-white rounded-full p-2 transition">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="anuncio-detalle col-span-2 p-6 bg-white bg-opacity-80 rounded-lg shadow-md h-full overflow-auto">
            <h2 class="text-3xl font-bold mb-4 text-blue-700">
                {% if ultimo_anuncio %}
                {{ ultimo_anuncio.titulo }}
                {% else %}
                Sin anuncios disponibles
                {% endif %}
            </h2>
            <p class="text-lg text-gray-700 mb-2 font-semibold">
                {% if ultimo_anuncio %}
                {{ ultimo_anuncio.autor.nombre }}
                {% else %}
                ---
                {% endif %}
            </p>
            <p class="font-semibold text-gray-800 mb-4">
                {% if ultimo_anuncio %}
                Para: {{ ultimo_anuncio.grupo_destinatario }}
                {% else %}
                ---
                {% endif %}
            </p>
            <p class="text-gray-700 leading-relaxed">
                {% if ultimo_anuncio %}
                {{ ultimo_anuncio.descripcion }}
                {% else %}
                ---
                {% endif %}
            </p>
        </div>
    </div>
</div>


<!-- Modal Crear Anuncio -->
<div id="crearAnuncioModal" class="fixed inset-0 bg-gray-800 bg-opacity-60 flex items-center justify-center hidden">
    <div class="bg-white p-8 rounded-lg shadow-2xl w-full max-w-lg mx-4">
        <h2 class="text-3xl font-bold mb-6 text-blue-800">Crear Anuncio</h2>
        <form id="crearAnuncioForm">
            {% csrf_token %}
            <div class="mb-6">
                <label for="titulo" class="block text-gray-800 font-semibold mb-2">Asunto</label>
                <input type="text" id="titulo" name="titulo" class="w-full p-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
            </div>
            <div class="mb-6">
                <label for="descripcion" class="block text-gray-800 font-semibold mb-2">Descripción</label>
                <textarea id="descripcion" name="descripcion" class="w-full p-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" rows="4" required></textarea>
            </div>
            <div class="mb-6">
                <label for="grupo" class="block text-gray-800 font-semibold mb-2">Dirigido a</label>
                <select id="grupo" name="grupo" class="w-full p-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
                    <option value="Todos">Todos</option>
                    <option value="Directivos">Directivos</option>
                    <option value="Profesores">Profesores</option>
                    <option value="Asistentes">Asistentes</option>
                </select>
            </div>
            <div class="flex justify-end space-x-4">
                <button type="button" id="closeModal" class="bg-gray-500 text-white py-2 px-6 rounded-lg hover:bg-gray-600 transition">Cancelar</button>
                <button type="submit" class="bg-green-600 text-white py-2 px-6 rounded-lg shadow-md hover:shadow-lg transition">Guardar</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal Eliminar Anuncio -->
<div id="eliminarAnuncioModal" class="fixed inset-0 bg-gray-800 bg-opacity-60 flex items-center justify-center hidden">
    <div class="bg-white p-8 rounded-lg shadow-2xl w-full max-w-lg mx-4">
        <h2 class="text-3xl font-bold mb-4 text-red-600">Eliminar Anuncio</h2>
        <p class="text-gray-800 mb-6">¿Estás seguro de que deseas eliminar este anuncio?</p>
        <div class="flex justify-end space-x-6">
            <button type="button" id="cancelarEliminar" class="bg-gray-500 text-white py-2 px-6 rounded-lg hover:bg-gray-600 transition">Cancelar</button>
            <button type="button" id="confirmarEliminar" class="bg-red-500 text-white py-2 px-6 rounded-lg hover:bg-red-600 transition">Eliminar</button>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const openModalButton = document.getElementById("openModal");
        const closeModalButton = document.getElementById("closeModal");
        const modal = document.getElementById("crearAnuncioModal");
        const eliminarModal = document.getElementById("eliminarAnuncioModal");
        const cancelarEliminarButton = document.getElementById("cancelarEliminar");
        const confirmarEliminarButton = document.getElementById("confirmarEliminar");
        let anuncioIdEliminar = null;

        openModalButton?.addEventListener("click", () => {
            modal.classList.remove("hidden");
        });

        closeModalButton.addEventListener("click", () => {
            modal.classList.add("hidden");
        });

        cancelarEliminarButton.addEventListener("click", () => {
            eliminarModal.classList.add("hidden");
        });

        confirmarEliminarButton.addEventListener("click", () => {
            if (anuncioIdEliminar) {
                fetch(`/anuncios/eliminar/${anuncioIdEliminar}/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                })
                    .then(response => {
                        if (response.ok) {
                            window.location.reload();
                        } else {
                            console.error('Error al eliminar el anuncio');
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }
            eliminarModal.classList.add("hidden");
        });

        // Función para mostrar el modal de eliminar anuncio
        window.eliminarAnuncioModal = function (id) {
            anuncioIdEliminar = id;
            eliminarModal.classList.remove("hidden");
        };

        // Form submission logic
        const form = document.getElementById("crearAnuncioForm");
        form.addEventListener("submit", (e) => {
            e.preventDefault();

            const data = {
                titulo: form.titulo.value,
                descripcion: form.descripcion.value,
                grupo: form.grupo.value
            };

            fetch('/anuncios/crear/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')  // CSRF token para Django
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    modal.classList.add("hidden");
                    window.location.reload();  // Recargar la página para ver el nuevo anuncio
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        });

        // Función para obtener el CSRF token
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });

    function mostrarAnuncio(anuncioId) {
        const anuncios = JSON.parse('{{ anuncios_json|safe }}'.replace(/&quot;/g, '"'));
        const anuncio = anuncios.find(anuncio => anuncio.id == anuncioId);

        if (anuncio) {
            document.querySelector('.anuncio-detalle h2').innerText = anuncio.titulo;
            document.querySelector('.anuncio-detalle p:nth-of-type(1)').innerText = anuncio.autor__nombre ? anuncio.autor__nombre : 'Autor desconocido';
            document.querySelector('.anuncio-detalle p:nth-of-type(2)').innerText = 'Para: ' + (anuncio.grupo_destinatario ? anuncio.grupo_destinatario : 'Grupo no especificado');
            document.querySelector('.anuncio-detalle p:nth-of-type(3)').innerText = anuncio.descripcion ? anuncio.descripcion : 'Sin descripción';
        }
    }
</script>

<style>
    .bg-animated-gradient {
        background: linear-gradient(45deg, #1e3a8a, #38bdf8, #9333ea);
        background-size: 400% 400%;
        animation: gradientAnimation 10s ease infinite;
    }

    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
</style>

{% endblock %}