{% extends 'base.html' %}

{% block title %}Sala de Reunión{% endblock %}

{% block content %}
<div id="jitsi-container" class="w-full h-screen bg-black"></div>
<script src="https://8x8.vc/vpaas-magic-cookie-5efac97c463744ddaba8ea5ae22d3dce/external_api.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const domain = "8x8.vc";
        const jwt = "{{ jwt|escapejs }}"; // JWT generado desde el backend
        const roomName = "vpaas-magic-cookie-5efac97c463744ddaba8ea5ae22d3dce/Reunion{{ reunion.id }}";

        const container = document.querySelector('#jitsi-container');
        if (!container) {
            console.error("El contenedor de Jitsi no existe.");
            return;
        }

        const options = {
            roomName: roomName,
            parentNode: container,
            jwt: jwt,
            configOverwrite: {
                startWithAudioMuted: true,
                startWithVideoMuted: true,
                disableModeratorIndicator: false,
                enableClosePage: false,
            },
            interfaceConfigOverwrite: {
                TOOLBAR_BUTTONS: [
                    'microphone', 'camera', 'chat', 'desktop', 'hangup', 'tileview', 'fullscreen'
                ],
                SHOW_JITSI_WATERMARK: false,
                HIDE_DEEP_LINKING_LOGO: true,
            },
        };

        const api = new JitsiMeetExternalAPI(domain, options);

        api.addEventListener('readyToClose', () => {
            window.location.href = "/reuniones/";
        });
    });
</script>
{% endblock %}